/* font-family: var(--odor-font); */
/* font-family: var(--noteworthy-font); */

@media (max-width: 768px) {
  body {
    background-color: #b4c1ac;
  }
}

@media (min-width: 769px) {
  body {
    background-color: #536B5A;
  }
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: var(--noteworthy-font);

}

form {
  font-family: var(--noteworthy-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2rem;
  font-family: var(--odor-font);
  font-weight: 400;
  margin: 0;
}

h2 {
  font-family: var(--noteworthy-font);
  margin: 0;
}

.noScroll {
  overflow: hidden;
}