/* font-family: var(--odor-font); */
/* font-family: var(--noteworthy-font); */

.heroBackground {
  background-color: #000;
  background-image: url("/index/landing+2.webp");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.pitiSeniorImage {
  width: 19%;
  top: 10%;
  left: 28%;
}

.pitiSeniorImage:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homeButtonContainer {
  position: absolute;
  z-index: 2;
  width: 13rem;
  height: 100%;
  min-width: 10%;
  max-width: 19%;
  top: 5%;
  left: 2.7%;
}

.header {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: fit-content;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;

  h1 {
    color: #013e23;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }

  h2 {
    text-align: center;
  }
}

.nonSelectable {
  user-select: none;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.balloonImage {
  position: absolute;
  right: 15%;
  height: fit-content;
  width: 10rem;
  top: 35%;
}

.topBar {
  object-fit: contain;
  object-position: top;
  width: 100%;
  height: fit-content;
}

.navButton {
  position: absolute;
  z-index: 2;
}

.homeImage {
  width: 100%;
  top: 27%;
  left: 4%;
}

.shopImage {
  width: 13rem;
  min-width: 10%;
  max-width: 19%;
  top: 26%;
  left: 18.7%;
}

.resourcesImage {
  width: 21rem;
  min-width: 15%;
  max-width: 28%;
  top: 39%;
  left: 35%;
}

.contactImage {
  width: 13rem;
  min-width: 10%;
  max-width: 20%;
  top: 73%;
  left: 61%;
}

.sunImage {
  width: 16%;
  top: 19%;
  left: 76%;
}

.cdContainer {
  margin-top: 3rem;
}

.cdImage {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 9rem;
  min-width: 6%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  max-width: 100%;
}

.cdImage:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.seeMoreButton {
  position: absolute;
  top: 22%;
  left: 26%;
}
.inactiveMenu {
  display: block;
}

// mobile / less than 768px or 1:1 aspect ratio
@media (max-width: 768px) {
  .activeMenu {
    display: block;
  }

  .inactiveMenu {
    display: none;
  }

  .homeButtonContainer,
  .contactImage,
  .shopImage {
    right: 10px;
    left: unset;
    width: 14rem;
    max-width: 60%;
  }
  .sunImage {
    display: none;
  }

  .homeButtonContainer {
    top: -112px;
  }

  .pitiSeniorImage {
    display: none;
  }

  .homeImage {
    display: none;
  }

  .shopImage {
    top: 112px;
  }

  .resourcesImage {
    top: 224px;
    right: 10px;
    left: unset;
    width: 17rem;
    max-width: 75%;
  }

  .contactImage {
    top: 320px;
  }

  .heroBackground {
    background-image: url("/index/landing-mobile.png");
  }

  .topBar {
    display: none;
  }

  .balloonImage {
    top: 58%;
    position: absolute;
    height: max-content;
    left: 50%;
    margin-left: -75px;
    bottom: -5rem;
    right: unset;
  }

  .heroContent {
    height: 73%;
    justify-content: flex-start;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cdContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .cdImage {
    width: 8rem;
  }

  .cdImage:hover {
    transform: none;
  }

  .navBar {
    backdrop-filter: blur(10px);
    height: 100vh;
    top: 0;
    width: 100%;
    position: fixed;
    right: 0;
  }

  // will move to a separate file later called "Navigation.module.scss"
  .menuButton {
    display: block !important;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 3;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .activeMenu {
    display: block;
  }
  .inactiveMenu {
    display: none;
  }

  #menu_checkbox {
    display: none;
  }

  #menu_label {
    z-index: 2;
    background: none;
    border: none;
    display: block !important;
    width: 100%;
    transition: opacity 0.3s ease;
  }

  .menu_span {
    display: block !important;
    width: 1.7rem;
    height: 0.25rem;
    background-color: #000;
    margin: 0.3rem;
    transition: transform 0.3s ease;
  }
}

.menu_span,
#menu_label,
.menuButton {
  display: none;
}
