.heroBackground {
  background-color: #bee0d5;
  background-image: url("/index/landing-desktop.webp");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  height: 700px;
  height: 100vh;
  height: 100svh;
  width: 100%;
}

.skyImage {
  background-color: #bee0d5;
  background-image: url("/index/skyBg.png");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  height: 300px;
  height: 50vh;
  height: 50svh;
  width: 100%;
}

.emptySpace {
  background-color: #bee0d5;
  height: 300px;
  height: 50vh;
  height: 50svh;
  width: 100%;
}

.avionImage {
  width: 25rem;
  // max-width: 120%;
}

.promoImage {
  width: 25rem;
}

.airplaneComponent {
  width: 88%;
  transform: rotate(15deg) translate(0vw, -50%);
}

.emailForm {
  position: relative;
  top: 33%;
  height: 7%;
  width: 100%;
  input,
  #subscribe {
    position: relative;
    left: 19.5%;
    width: 17rem;
    height: 50%;
    border-radius: 50px;
    background-color: #e2ce9b;
    border: rgb(60, 60, 60) 1px solid;
  }
  input:focus {
    outline: none;
    box-shadow: 0 0 10px #e2ce9b;
  }
  #subscribe {
    position: relative;
    left: 20%;
    cursor: pointer;
    width: 6rem;
  }
  #subscribe:hover {
    background-color: #ffdc8a;
  }
}

.review {
  position: fixed;
  top: 23%;
  color: #333;
  min-width: 300px;
  max-height: 47%;
  width: 31%;
  font-size: calc(1.5vh + 6px);
  overflow: auto;
  word-wrap: break-word;
}

.reviewAuthor {
  position: fixed;
  max-height: 47%;
  width: max-content;
  font-size: calc(0.9vw + 7px);
  overflow: auto;
  word-wrap: break-word;
  text-align: right;
  right: 33%;
  top: 63%;
  background-color: #e8e4e7;
}

.waterContainerImage {
  width: 50%;
  min-width: 500px;
}

.airplaneComponent {
  align-items: center;
  position: absolute;
  top: 150%;
  display: flex;
  flex-direction: row;
}

.avionAxis {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #bee0d5;
}

.empty450Space {
  height: 345vh;
  width: 100%;
}

.waterImage {
  background-color: #bee0d5;
  background-image: url("/index/water.webp");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 1400px;
  height: 180vh;
  height: 180svh;
  width: 100%;
}

.footerImage {
  background-color: #bee0d5;
  background-image: url("/index/footer.webp");
  background-size: cover;
  background-position: 29% top;
  background-repeat: no-repeat;
  height: 1700px;
  height: 220vh;
  height: 220svh;
  width: 100%;
}

.pitiSeniorImage {
  width: 19%;
  top: 10%;
  left: 28%;
}

.pitiSeniorImage:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homeButtonContainer {
  position: absolute;
  z-index: 2;
  width: 13rem;
  height: 100%;
  min-width: 10%;
  max-width: 19%;
  top: 5%;
  left: 2.7%;
}

.header {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: fit-content;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;

  h1 {
    color: #013e23;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }

  h2 {
    text-align: center;
  }
}

.nonSelectable {
  user-select: none;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.balloonImage {
  position: absolute;
  right: 15%;
  height: fit-content;
  width: 10rem;
  top: 35%;
}

.topBar {
  object-fit: contain;
  object-position: top;
  width: 100%;
  height: fit-content;
}

.navButton {
  position: absolute;
  z-index: 2;
}

.homeImage {
  width: 100%;
  top: 27%;
  left: 4%;
}

.shopImage {
  width: 13rem;
  min-width: 10%;
  max-width: 19%;
  top: 26%;
  left: 18.7%;
}

.resourcesImage {
  width: 18rem;
  min-width: 15%;
  max-width: 28%;
  top: 39%;
  left: 35.7%;
}

.contactImage {
  width: 13rem;
  min-width: 10%;
  max-width: 20%;
  top: 73%;
  left: 61%;
}

.sunImage {
  width: 16%;
  top: 19%;
  left: 76%;
}

.cdContainer {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.cdImage {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 9rem;
  min-width: 6%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  max-width: 100%;
}

.cdImage:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.seeMoreButton {
  position: absolute;
  top: 22%;
  left: 26%;
}
.inactiveMenu {
  display: block;
}

// mobile / less than 768px or 1:1 aspect ratio
// mobile / less than 768px or 1:1 aspect ratio
@media (max-width: 768px) {
  .emailForm {
    display: flex;
    justify-content: center;
  }
  .review {
    font-size: calc(0.9vh + 7px);
  }
  .airplaneComponent {
    top: 150%;
    width: 46%;
  }
  .footerImage {
    background-color: #bee0d5;
    background-image: url("/index/footer-mobile.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1700px;
    height: 220vh;
    height: 220svh;
    width: 100%;
  }

  .activeMenu {
    display: block;
  }

  .inactiveMenu {
    display: none;
  }

  .homeButtonContainer,
  .contactImage,
  .shopImage {
    right: 10px;
    left: unset;
    width: 14rem;
    max-width: 60%;
  }
  .sunImage {
    display: none;
  }

  .homeButtonContainer {
    top: -112px;
  }

  .pitiSeniorImage {
    display: none;
  }

  .homeImage {
    display: none;
  }

  .shopImage {
    top: 112px;
  }

  .resourcesImage {
    top: 224px;
    right: 10px;
    left: unset;
    max-width: 75%;
  }

  .contactImage {
    top: 320px;
  }

  .heroBackground {
    background-image: url("/index/landing-mobile.webp");
  }

  .topBar {
    display: none;
  }

  .balloonImage {
    top: 58%;
    position: absolute;
    height: max-content;
    left: 50%;
    margin-left: -75px;
    bottom: -5rem;
    right: unset;
  }

  .heroContent {
    height: 73%;
    justify-content: flex-start;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cdContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  #email {
    width: 60%;
    max-width: 300px;
    left: 2.5% !important;
  }

  #subscribe {
    width: 10%;
    left: 6% !important;
  }

  .cdImage {
    width: 8rem;
  }

  .cdImage:hover {
    transform: none;
  }

  .navBar {
    backdrop-filter: blur(10px);
    height: 700px;
    height: 100vh;
    height: 100svh;
    top: 0;
    width: 100%;
    position: fixed;
    right: 0;
  }

  // will move to a separate file later called "Navigation.module.scss"
  .menuButton {
    display: block !important;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 3;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .activeMenu {
    display: block;
  }
  .inactiveMenu {
    display: none;
  }

  #menu_checkbox {
    display: none;
  }

  #menu_label {
    z-index: 2;
    background: none;
    border: none;
    display: block !important;
    width: 100%;
    transition: opacity 0.3s ease;
  }

  .menu_span {
    display: block !important;
    width: 1.7rem;
    height: 0.25rem;
    background-color: #000;
    margin: 0.3rem;
    transition: transform 0.3s ease;
  }
}

.menu_span,
#menu_label,
.menuButton {
  display: none;
}

.textMarquee {
  background-color: #bfe0d5;
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: bold;
  color: rgb(48 48 48);
  white-space: nowrap;
  font-size: 2rem;
  cursor: pointer;
}

.box:hover {
  cursor: pointer;
  color: #216e4b;
}

.test {
  padding: 30px;
}
